include config.ini
include *.txt *.md *.sh npKnown.npz
recursive-include assets *.mp4 *.png
recursive-include assets/data *
recursive-include assets/images *
recursive-include example *.py
recursive-include example/img *
recursive-include face01lib/models *.onnx *.dat
recursive-include noFace *
recursive-include preset_face_images *.png
